#actions-menu {
  position: fixed;
}

body {
  background-image: url('../assets/waterBackGround.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

#calendar-body {
  margin-top: 1rem;
  display: grid;
  gap: 10px;
  padding: .5rem;
}

.days-in-week {
  /* padding-bottom: .5rem; */
}

.calendar-row {
  display: grid;
  grid-auto-flow: column;
  gap: .1rem;
  justify-content: space-between;
  margin-bottom: .1rem;
}

.calendar-row.first {
  justify-self: end;
}

.calendar-row.last {
  justify-self: start;
}
.calendar-day button{
  width: 2.2rem;
  height: 2.2rem;
}

.calendar-day {
  width: 1rem;
  display: flex;
  justify-content: center;
}