* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 1rem;
}

a.active {
  color: red;
}

.home_page {
  margin: 2rem 4rem;
}

input,
select,
button {
  padding: 0.5rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 25vw;
}
