#container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#inner-container {
    height: 25vh;
    background-color: aquamarine;
    align-items: center;
    display: flex;
    justify-content: center;
}

#form {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input,label, h1 {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}