.user {
  background-color: blanchedalmond;
  margin: 20px;
  padding: 20px;
}

.post {
  background-color: aliceblue;
  margin: 20px;
  padding: 20px;
}

.todo {
  background-color: beige;
  margin: 20px;
  padding: 20px;
}

.btn {
  
}